@* footer *@
<footer class="border-top footer text-muted">
    <div class="container">

        &copy; 2023 - <a href="https://github.com/Blaser993" target="_blank">Blaser993 </a>- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
