@model Foto

<div class="container">
    <form asp-controller="Foto" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Title" class="d-block w-100" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Description" class="d-block w-100" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Visibilità:</strong>
            <input asp-for="Visibility" />
        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <input asp-for="Image" class="d-block w-100" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>
</div>