@model FotoFormModel

<div class="container">
    <form asp-controller="Foto" asp-action="Create" enctype="multipart/form-data" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Foto.Title" class="d-block w-100" />
            <span asp-validation-for="Foto.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Foto.Description" class="d-block w-100" />
            <span asp-validation-for="Foto.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Visibilità:</strong>
            <input asp-for="Foto.Visibility" />
        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <input asp-for="Foto.ImageUrl" class="d-block w-100" />
            <span asp-validation-for="Foto.ImageUrl" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ImageFormFile">Image File:</label>
            <input type="file" asp-for="ImageFormFile"/>
            <span asp-validation-for="ImageFormFile" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Categorie:</strong>
            <select asp-for="SelectedCategoriesId"
                    multiple="multiple"
                    class="form-control"
                    asp-items="@Model.Categories">
            </select>
            <span asp-validation-for="SelectedCategoriesId" class="text-danger"></span>
        </div>


        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Aggiungi">
        </div>
    </form>
</div>